<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
        <p>{{currentUser.realm}}</p>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        <div id="status-options">
          <ul>
            <li id="status-online" class="active"><span class="status-circle"></span>
              <p>Online</p>
            </li>
            <li id="status-away"><span class="status-circle"></span>
              <p>Away</p>
            </li>
            <li id="status-busy"><span class="status-circle"></span>
              <p>Busy</p>
            </li>
            <li id="status-offline"><span class="status-circle"></span>
              <p>Offline</p>
            </li>
          </ul>
        </div>
        <div id="expanded">
          <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mikeross" />
          <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="ross81" />
          <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mike.ross" />
        </div>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <ul>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status online"></span>
            <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
            <div class="meta">
              <p class="name">Joshua</p>
              <p class="preview">{{firstMsg}}.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <a (click)="viewProfile()"> <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /> </a>
      <p>{{currentUser.realm}}</p>
    </div>
    <div class="messages" #message [scrollTop]="message.scrollHeight">
      <ul *ngFor="let element of msgs">
        <li class="replies">
          <img class="user-image" src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
          <p *ngIf="element.message">{{element.message}}</p>
          <img *ngIf="element.image" id="profile-img" src="{{base_url}}/api/Containers/profile/download/{{element.image}}"
                draggable="false" />
        </li>
        <!-- <li class="replies">
          <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
          <p>{{message}}</p>
        </li> -->
      </ul>
    </div>
    <div class="message-input">
      <form [formGroup]="kiwiMsg">
            <input type="file" placeholder="Upload Image" (change)="readURL($event,'image')"
            formControlName="image" accept=".jpeg,.jpg,.png">
        <div class="wrap">
            
          <input type="text" placeholder="Write your message..." formControlName="textMsg">
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="sendMessage()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
